$blue-dark: #00868a;
$blue-light: #4fbfa5;
//$body-background: #e5e5e5;
$border: rgba(196, 196, 196, 0.5);
$blue-light-opacity: rgba(0, 134, 138, 0.1);

.body {
	background-color: white;
}

.header {
	background-color: white;
	height: 90px;
	width: 100%;
	max-width: 1920px;

	>* {
		border-right: 1px solid $border;
	}

	> :nth-child(1) {
		border-left: 1px solid $border;
	}

	* {
		//width: max-content;
		height: 100%;
	}

	.logo {}

	.tel {}

	.select-container {
		.select {
			//height: min-content;
			border: none;
			height: max-content;
			position: relative;
			appearance: none;
			background: url("./img/select-triangle.png") no-repeat right center;

		}
	}

	.button-a11 {
		color: white;
		background-color: $blue-dark;
		border: none;

	}
}

.cosmetology-intro-container {
	background-color: $blue-light;

	.cosmetology-title-container {
		margin: auto;

		.nav-container {
			.nav {
				list-style: none;

				.nav-item {
					text-decoration: none;
					color: white;
				}
			}
		}

		.make-an-appointment {
			border: none;
		}
	}

	.cosmetology {
		.cosmetology-title {}

		.cosmetology-text {}

		.cosmetology-button-details {
			background-color: $blue-dark;
			border: none;
		}

		.slider-controls {
			.slider-control {
				border: solid 1px white;
				cursor: pointer;

				&.slider-control-prev {
					background: center no-repeat url("./img/slide-left.png");
					border-right: none;
				}

				&.slider-control-next {
					background: center no-repeat url("./img/slide-right.png");
				}
			}
		}

	}

	.cosmetology-buttons {
		.cosmetology-button {
			background-color: $blue-dark;
			border: none;
			cursor: pointer;
		}
	}
}

.information {
	background-color: white;

	.innovation {
		background: linear-gradient($blue-dark 0px, $blue-dark 350px, transparent 350px, transparent 100%),
			no-repeat url("./img/first-slide.png"),
			$blue-dark;
		background-size: 100%;
		background-position: left top 140%;

		.title {
			background-color: $blue-light;
		}

		.info {}

		.link-details {
			border: solid 1px white;
			background: center no-repeat url("./img/slide-right.png");
		}

		.label {}
	}

	.numbers {

		//background: top 75px left 310px no-repeat url("./img/patent.png");
		.title {
			background-color: $blue-light;
		}

		.number {}

		.radio-number {}
	}


	.news {
		background-color: $blue-light;

		.title {
			background-color: $blue-dark;
		}

		.radio-news {
			&:checked+* {
				background-color: $blue-dark;
			}
		}

		.news-label {}

		.news-content {
			background-color: $blue-light-opacity;

			.news-container {

				.news-title {}

				.news-p-list {
					.news-list-item {}
				}

			}
		}
	}
}

.offers {
	background: linear-gradient($blue-light-opacity 0px, $blue-light-opacity 350px, transparent 350px);

	.offers-title {
		color: #00868a;
	}

	.item-1 {
		background: top no-repeat url("./img/offer-1.png"), $blue-dark;
	}

	.item-2 {
		background: top no-repeat url("./img/offer-2.png"), $blue-dark;

	}

	.item-3 {
		background: top no-repeat url("./img/offer-3.png"), $blue-dark;

	}

	.item-4 {
		background: top no-repeat url("./img/offer-4.png"), $blue-dark;

	}

	.offers-item {
		.offer-sticker {
			background-color: #4fbfa5;
		}

		.offer-text {}

		.offer-arrow {
			background: center no-repeat url("./img/slide-right.png");
			border: solid 1px white;
			cursor: pointer;
		}
	}

}

.upper-footer {

	.service-container {
		.service-title {}

		.service-link {}
	}

	.contacts {
		.contacts-label {
			opacity: 0.5;
		}

		.footer-tel {
			text-decoration: none;
		}

		.main-address {}

		.howToGetThere {
			background-color: $blue-dark;
			border: none;
			cursor: pointer;
		}

		.additional-address {}
	}
}

.footer {
	border: solid 1px $border;
	> :nth-last-child(-n+5){
		border-left: solid 1px $border;
	}
	.license {}

	.privacy-policy {
		&:visited{
			color: black;
		}
	}

	.button-container {
		.button-a11 {
			color: white;
			background-color: $blue-dark;
			border: none;

			.eye {}
		}
	}

	.img-container {
		cursor: pointer;
	}
}