$blue-dark: #00868a;

@font-face {
    font-family: "Gilroy";
    font-weight: 500;
    src: url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 400;
    src: url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff");
}

@font-face {
    font-family: "Gilroy";
    font-weight: 700;
    src: url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff");
}

.header {
    .tel {
        .tel {
            //height:min-content;
            color: black;
            font-family: "Gilroy", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;
            text-decoration: none;
        }
    }

    .select-container {
        .select {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 16px;
            line-height: 19px;

            option[class^="option"] {
                font-family: Gilroy;
                font-style: normal;
                font-weight: 500;
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    .button-a11 {
        font-family: "Gilroy", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
    }
}

.cosmetology-intro-container {

    .cosmetology-title-container {

        .nav-container {
            .nav {

                .nav-item {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 150%;
                }
            }
        }

        .make-an-appointment {}




    }

    .cosmetology {
        .cosmetology-title {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            font-size: 48px;
            line-height: 150%;
        }

        .cosmetology-text {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 150%;
        }

        .cosmetology-button-details {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: 0.05em;
        }
    }

    .cosmetology-buttons {
        .cosmetology-button {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 21px;
            line-height: 150%;
        }
    }
}

.information {

    .innovation {

        .title {
            color: white;
            line-height: 40px;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            //line-height: 21px;

        }

        .info {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 150%;
        }

        .link-details {}

        .label {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            font-size: 16px;
            line-height: 150%;
        }
    }

    .numbers {
        .title {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 40px;

        }

        .number {
            .digits {
                opacity: 0.5;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 500;
                font-size: 48px;
                line-height: 150%;
            }

            .letters {
                opacity: 0.5;
                font-family: Gilroy;
                font-style: normal;
                font-weight: 500;
                font-size: 14px;
                line-height: 150%;
            }

            &:hover {

                .digits,
                .letters {
                    opacity: 1;
                }
            }

        }

        .radio-number {
            &:checked+* {
                .digits {
                    color: $blue-dark;
                    opacity: 1;
                    font-size: 96px;
                }

                .letters {
                    opacity: 1;
                    font-size: 28px;
                }
            }
        }
    }

    .news {
        .title {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 40px;

        }

        .radio-news {}

        .news-label {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 150%;
        }

        .news-content {
            .news-container {
                .news-title {
                    font-family: Gilroy;
                    font-style: normal;
                    font-weight: bold;
                    font-size: 24px;
                    line-height: 150%;
                }

                .news-p-list {
                    .news-list-item {
                        font-family: Gilroy;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 14px;
                        line-height: 21px;
                    }
                }

            }
        }
    }
}

.offers {

    .offers-title {
        font-family: Gilroy;
        font-style: normal;
        font-weight: bold;
        font-size: 48px;
        line-height: 72px;
    }

    .offers-item {
        .offer-sticker {
            line-height: 40px;
            color: white;
        }

        .offer-text {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 700;
            font-size: 19px;
            line-height: 31.5px;
        }

        .offer-arrow {}
    }

}

.upper-footer {

    .service-container {
        .service-title {
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 31.5px;
        }

        .service-link {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 21px;
        }
    }

    .contacts {
        .contacts-label {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 11px;
            line-height: 16.5px;
        }

        .footer-tel {
            color: black;
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 31.5px;
        }

        address[class$="address"] {
            font-family: Gilroy;
            font-style: normal;
            font-weight: bold;
            font-size: 21px;
            line-height: 31.5px;
        }

        .main-address {}

        .howToGetThere {
            color: white;
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 16px;
            letter-spacing: 0.05em;
        }

        .additional-address {}
    }
}

.footer {
    .license {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }

    .privacy-policy {
        font-family: Gilroy;
        font-style: normal;
        font-weight: normal;
        font-size: 12px;
        line-height: 18px;
    }

    .button-container {
        .button-a11 {
            font-family: Gilroy;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 18px;

            .eye {}
        }
    }

    .img-container {}
}