.header {
  display: grid;
  grid-template-columns: repeat(4, max-content) repeat(4, 80px);
  justify-content: center;
  align-content: center;
  align-items: center; }
  .header .logo {
    padding: 0 35px 0 36px;
    height: 56px; }
  .header .tel-container {
    display: flex; }
    .header .tel-container .tel {
      margin: auto;
      padding: 0 30px;
      width: max-content;
      height: max-content;
      vertical-align: middle; }
  .header .select-container {
    padding: 36px 30px 35px 30px; }
    .header .select-container .select {
      padding: 0 35px 0 0; }
  .header .button-container {
    padding: 25px 31px 25px 30px; }
    .header .button-container .button-a11 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 270px;
      height: 40px; }
      .header .button-container .button-a11 .eye {
        width: 25.26px;
        height: 17.33px; }
  .header .img-container {
    display: flex; }
    .header .img-container .social-img {
      margin: auto;
      width: max-content;
      height: max-content; }

.cosmetology-intro-container {
  height: 700px;
  display: grid;
  grid-template-rows: 87px 746px 80px;
  justify-content: center;
  grid-template-areas: "title title" ". ." "buttons buttons";
  grid-template-columns: 550px 745px; }
  .cosmetology-intro-container .cosmetology-title-container {
    width: 100%;
    max-width: 1295px;
    height: 87px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    grid-area: title; }
    .cosmetology-intro-container .cosmetology-title-container .nav-container {
      width: 100%;
      max-width: 1920px; }
      .cosmetology-intro-container .cosmetology-title-container .nav-container .nav {
        display: flex;
        width: 100%;
        justify-content: space-around; }
    .cosmetology-intro-container .cosmetology-title-container .make-an-appointment {
      margin: 0 10px 0 35px;
      width: 175px;
      height: 40px; }
  .cosmetology-intro-container .cosmetology {
    width: 550px;
    display: grid; }
    .cosmetology-intro-container .cosmetology .cosmetology-title {
      width: 100%; }
    .cosmetology-intro-container .cosmetology .cosmetology-button-details {
      width: 163px;
      height: 50px; }
  .cosmetology-intro-container .cosmetology-buttons {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-area: buttons; }

/* @media (min-width: 1295px) {
	.cosmetology-intro-container {
		width: 1295px;
		margin: auto;
	}
} */
