@charset "UTF-8";
@import url(./simple-adaptive-slider.css);
* {
  box-sizing: border-box;
  margin: 0;
  padding-inline-start: 0px; }

.body .header {
  display: grid;
  grid-template-columns: repeat(4, max-content) repeat(4, 80px);
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: auto; }
  .body .header .logo {
    padding: 0 35px 0 36px;
    height: 100%;
    display: flex; }
    .body .header .logo .logo-img {
      height: 55px;
      margin: auto; }
  .body .header .tel-container {
    display: flex; }
    .body .header .tel-container .tel {
      margin: auto;
      padding: 0 30px;
      width: max-content;
      height: max-content;
      vertical-align: middle; }
  .body .header .select-container {
    padding: 36px 30px 35px 30px; }
    .body .header .select-container .select {
      padding: 0 35px 0 0; }
  .body .header .button-container {
    padding: 25px 31px 25px 30px; }
    .body .header .button-container .button-a11 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 270px;
      height: 40px; }
      .body .header .button-container .button-a11 .eye {
        width: 25.26px;
        height: 17.33px; }
  .body .header .img-container {
    display: flex; }
    .body .header .img-container .social-img {
      margin: auto;
      width: max-content;
      height: max-content; }

.body .cosmetology-intro-container {
  height: 700px;
  display: grid;
  grid-template-rows: 87px 533px 80px;
  justify-content: center;
  grid-template-areas: "title title" ". ." "buttons buttons";
  grid-template-columns: 550px 745px; }
  .body .cosmetology-intro-container .cosmetology-title-container {
    width: 100%;
    max-width: 1295px;
    height: 87px;
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 220px;
    grid-area: title; }
    .body .cosmetology-intro-container .cosmetology-title-container .nav-container {
      width: calc(100% - 95px);
      max-width: 1920px; }
      .body .cosmetology-intro-container .cosmetology-title-container .nav-container .nav {
        display: flex;
        width: 100%;
        justify-content: space-evenly;
        padding-left: 10px;
        margin-left: -5px; }
    .body .cosmetology-intro-container .cosmetology-title-container .make-an-appointment {
      margin: 0 10px 0 35px;
      width: 175px;
      height: 40px; }
  .body .cosmetology-intro-container .cosmetology {
    width: 550px;
    display: grid;
    grid-template-rows: max-content max-content 90px 134px; }
    .body .cosmetology-intro-container .cosmetology .cosmetology-title {
      width: 100%;
      height: 72px;
      margin: 133px 0 20px 0; }
    .body .cosmetology-intro-container .cosmetology .cosmetology-text {
      width: 416px; }
    .body .cosmetology-intro-container .cosmetology .cosmetology-button-details {
      margin-top: 40px;
      width: 163px;
      height: 50px; }
    .body .cosmetology-intro-container .cosmetology .slider-controls {
      height: min-content;
      display: flex;
      padding: 0 60px 60px 0;
      align-self: flex-end;
      justify-self: flex-end; }
      .body .cosmetology-intro-container .cosmetology .slider-controls .slider-control {
        display: block;
        width: 60px;
        height: 50px; }
        .body .cosmetology-intro-container .cosmetology .slider-controls .slider-control .slider-control-prev {
          width: 59px; }
  .body .cosmetology-intro-container .cosmetology-buttons {
    display: grid;
    grid-template-columns: 50% 25% 25%;
    grid-area: buttons; }
    .body .cosmetology-intro-container .cosmetology-buttons *[type="radio"] {
      display: none; }
    .body .cosmetology-intro-container .cosmetology-buttons input:checked + * {
      background-color: #4fbfa5; }
    .body .cosmetology-intro-container .cosmetology-buttons .cosmetology-button {
      display: flex;
      align-items: center;
      justify-content: center; }

.body .information {
  padding: 80px 0;
  height: 1344px;
  width: 100%;
  max-width: 1296px;
  display: grid;
  margin: auto;
  grid-template-columns: 526px 770px;
  grid-template-rows: 580px 504px;
  grid-gap: 80px 0; }
  .body .information .innovation {
    width: 526px;
    height: 580px;
    padding: 35px 0 45px 40px; }
    .body .information .innovation .title {
      width: 125px;
      height: 40px;
      margin-bottom: 30px;
      text-align: center; }
    .body .information .innovation .link-container {
      display: flex;
      width: 160px;
      justify-content: space-between;
      align-items: center;
      padding-top: 25px; }
      .body .information .innovation .link-container .link-details {
        display: inline-block;
        width: 50px;
        height: 40px; }
  .body .information .numbers {
    height: 485px;
    width: 636px;
    display: grid;
    grid-template-rows: 70px repeat(4, minmax(min-content, 1fr));
    align-self: center;
    justify-self: center;
    grid-gap: 15px 0;
    position: relative; }
    .body .information .numbers .title {
      width: 186px;
      height: 40px;
      text-align: center; }
    .body .information .numbers .number {
      display: flex;
      align-items: center;
      width: 214px;
      z-index: 2; }
      .body .information .numbers .number .digits {
        padding-right: 20px; }
    .body .information .numbers .radio-number {
      display: none; }
      .body .information .numbers .radio-number:checked + *.number {
        width: 460px; }
        .body .information .numbers .radio-number:checked + *.number .digits {
          padding-right: 30px; }
    .body .information .numbers .patent {
      position: absolute;
      bottom: -30px;
      right: -20px;
      z-index: 1; }
  .body .information .news {
    display: grid;
    grid-template-columns: 526px 770px;
    grid-template-rows: 105px repeat(3, max-content); }
    .body .information .news .title {
      width: 101px;
      height: 40px;
      margin: 35px 0 30px 40px;
      text-align: center; }
    .body .information .news .radio-news {
      display: none; }
    .body .information .news .news-label {
      padding: 35px 40px; }
    .body .information .news .news-content {
      grid-area: 1/2/5/3;
      padding: 35px 60px; }
      .body .information .news .news-content .news-container .news-title {
        width: 100%;
        padding-bottom: 25px; }
      .body .information .news .news-content .news-container .news-p-list {
        list-style: none;
        width: calc(629px + 18px);
        padding-left: 18px; }
        .body .information .news .news-content .news-container .news-p-list .news-list-item {
          position: relative; }
          .body .information .news .news-content .news-container .news-p-list .news-list-item::before {
            content: "â—";
            color: #00868a;
            position: absolute;
            left: -18px; }
          .body .information .news .news-content .news-container .news-p-list .news-list-item:not(:last-child) {
            margin-bottom: 15px; }

.body .offers {
  height: 656px;
  max-width: 1920px;
  margin: auto; }
  .body .offers .offers-title {
    max-width: 1920px;
    text-align: center;
    padding: 80px 0 60px 0; }
  .body .offers .offers-grid-container {
    margin: 0 auto;
    max-width: 1296px;
    display: grid;
    grid-template-columns: repeat(4, max-content);
    grid-template-rows: max-content;
    grid-gap: 0 25px; }
    .body .offers .offers-grid-container .offers-item {
      width: 306px;
      height: 343px;
      display: flex;
      flex-wrap: wrap; }
      .body .offers .offers-grid-container .offers-item .offer-sticker {
        text-align: center;
        width: 148px;
        height: 40px;
        display: block;
        margin: 31px 0 0 30px; }
      .body .offers .offers-grid-container .offers-item .link-container {
        display: flex;
        margin: 0 30px 25px 30px;
        height: 64px;
        align-self: flex-end;
        align-items: center;
        justify-content: space-between;
        width: 100%; }
        .body .offers .offers-grid-container .offers-item .link-container .offer-text {
          display: block;
          width: 181px; }
        .body .offers .offers-grid-container .offers-item .link-container .offer-arrow {
          width: 50px;
          height: 40px; }

.body .upper-footer {
  display: grid;
  grid-template-areas: ". . . contacts" ". . . contacts";
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(4, 1fr);
  height: 392px;
  max-width: 1296px;
  margin: auto;
  grid-gap: 30px 40px; }
  .body .upper-footer .service-container .service-title {
    margin: 0 0 20px 0; }
  .body .upper-footer .service-container .service-link:not(:last-child) {
    margin-bottom: 15px; }
  .body .upper-footer .contacts {
    grid-area: contacts;
    display: grid; }
    .body .upper-footer .contacts .contacts-label {
      margin-bottom: 10px; }
    .body .upper-footer .contacts .howToGetThere {
      width: 165px;
      height: 45px; }

.body .footer {
  display: grid;
  grid-template-columns: 1fr 1fr max-content repeat(4, 80px);
  grid-template-rows: 80px;
  align-items: center;
  margin: 0 auto 0 auto;
  margin-top: 80px;
  height: 91px;
  max-width: 1296px; }
  .body .footer .license {
    display: block;
    margin-left: 25px;
    width: 300px; }
  .body .footer .privacy-policy {
    display: block;
    margin: 0 71px 0 70px;
    width: min-content;
    white-space: nowrap; }
  .body .footer .button-container {
    padding: 25px 31px 25px 30px; }
    .body .footer .button-container .button-a11 {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 270px;
      height: 40px; }
      .body .footer .button-container .button-a11 .eye {
        width: 25.26px;
        height: 17.33px; }
  .body .footer .img-container {
    display: flex;
    height: 100%; }
    .body .footer .img-container .social-img {
      margin: auto;
      width: max-content;
      height: max-content; }

.body {
  background-color: white; }

.header {
  background-color: white;
  height: 90px;
  width: 100%;
  max-width: 1920px; }
  .header > * {
    border-right: 1px solid rgba(196, 196, 196, 0.5); }
  .header > :nth-child(1) {
    border-left: 1px solid rgba(196, 196, 196, 0.5); }
  .header * {
    height: 100%; }
  .header .select-container .select {
    border: none;
    height: max-content;
    position: relative;
    appearance: none;
    background: url("./img/select-triangle.png") no-repeat right center; }
  .header .button-a11 {
    color: white;
    background-color: #00868a;
    border: none; }

.cosmetology-intro-container {
  background-color: #4fbfa5; }
  .cosmetology-intro-container .cosmetology-title-container {
    margin: auto; }
    .cosmetology-intro-container .cosmetology-title-container .nav-container .nav {
      list-style: none; }
      .cosmetology-intro-container .cosmetology-title-container .nav-container .nav .nav-item {
        text-decoration: none;
        color: white; }
    .cosmetology-intro-container .cosmetology-title-container .make-an-appointment {
      border: none; }
  .cosmetology-intro-container .cosmetology .cosmetology-button-details {
    background-color: #00868a;
    border: none; }
  .cosmetology-intro-container .cosmetology .slider-controls .slider-control {
    border: solid 1px white;
    cursor: pointer; }
    .cosmetology-intro-container .cosmetology .slider-controls .slider-control.slider-control-prev {
      background: center no-repeat url("./img/slide-left.png");
      border-right: none; }
    .cosmetology-intro-container .cosmetology .slider-controls .slider-control.slider-control-next {
      background: center no-repeat url("./img/slide-right.png"); }
  .cosmetology-intro-container .cosmetology-buttons .cosmetology-button {
    background-color: #00868a;
    border: none;
    cursor: pointer; }

.information {
  background-color: white; }
  .information .innovation {
    background: linear-gradient(#00868a 0px, #00868a 350px, transparent 350px, transparent 100%), no-repeat url("./img/first-slide.png"), #00868a;
    background-size: 100%;
    background-position: left top 140%; }
    .information .innovation .title {
      background-color: #4fbfa5; }
    .information .innovation .link-details {
      border: solid 1px white;
      background: center no-repeat url("./img/slide-right.png"); }
  .information .numbers .title {
    background-color: #4fbfa5; }
  .information .news {
    background-color: #4fbfa5; }
    .information .news .title {
      background-color: #00868a; }
    .information .news .radio-news:checked + * {
      background-color: #00868a; }
    .information .news .news-content {
      background-color: rgba(0, 134, 138, 0.1); }

.offers {
  background: linear-gradient(rgba(0, 134, 138, 0.1) 0px, rgba(0, 134, 138, 0.1) 350px, transparent 350px); }
  .offers .offers-title {
    color: #00868a; }
  .offers .item-1 {
    background: top no-repeat url("./img/offer-1.png"), #00868a; }
  .offers .item-2 {
    background: top no-repeat url("./img/offer-2.png"), #00868a; }
  .offers .item-3 {
    background: top no-repeat url("./img/offer-3.png"), #00868a; }
  .offers .item-4 {
    background: top no-repeat url("./img/offer-4.png"), #00868a; }
  .offers .offers-item .offer-sticker {
    background-color: #4fbfa5; }
  .offers .offers-item .offer-arrow {
    background: center no-repeat url("./img/slide-right.png");
    border: solid 1px white;
    cursor: pointer; }

.upper-footer .contacts .contacts-label {
  opacity: 0.5; }

.upper-footer .contacts .footer-tel {
  text-decoration: none; }

.upper-footer .contacts .howToGetThere {
  background-color: #00868a;
  border: none;
  cursor: pointer; }

.footer {
  border: solid 1px rgba(196, 196, 196, 0.5); }
  .footer > :nth-last-child(-n+5) {
    border-left: solid 1px rgba(196, 196, 196, 0.5); }
  .footer .privacy-policy:visited {
    color: black; }
  .footer .button-container .button-a11 {
    color: white;
    background-color: #00868a;
    border: none; }
  .footer .img-container {
    cursor: pointer; }

@font-face {
  font-family: "Gilroy";
  font-weight: 500;
  src: url("../fonts/Gilroy/Gilroy-Medium.woff") format("woff"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 400;
  src: url("../fonts/Gilroy/Gilroy-Regular.woff") format("woff"); }

@font-face {
  font-family: "Gilroy";
  font-weight: 700;
  src: url("../fonts/Gilroy/Gilroy-Bold.woff") format("woff"); }

.header .tel .tel {
  color: black;
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-decoration: none; }

.header .select-container .select {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px; }
  .header .select-container .select option[class^="option"] {
    font-family: Gilroy;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px; }

.header .button-a11 {
  font-family: "Gilroy", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px; }

.cosmetology-intro-container .cosmetology-title-container .nav-container .nav .nav-item {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%; }

.cosmetology-intro-container .cosmetology .cosmetology-title {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 150%; }

.cosmetology-intro-container .cosmetology .cosmetology-text {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%; }

.cosmetology-intro-container .cosmetology .cosmetology-button-details {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.05em; }

.cosmetology-intro-container .cosmetology-buttons .cosmetology-button {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 21px;
  line-height: 150%; }

.information .innovation .title {
  color: white;
  line-height: 40px;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px; }

.information .innovation .info {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 150%; }

.information .innovation .label {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%; }

.information .numbers .title {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px; }

.information .numbers .number .digits {
  opacity: 0.5;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 150%; }

.information .numbers .number .letters {
  opacity: 0.5;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 150%; }

.information .numbers .number:hover .digits,
.information .numbers .number:hover .letters {
  opacity: 1; }

.information .numbers .radio-number:checked + * .digits {
  color: #00868a;
  opacity: 1;
  font-size: 96px; }

.information .numbers .radio-number:checked + * .letters {
  opacity: 1;
  font-size: 28px; }

.information .news .title {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 40px; }

.information .news .news-label {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 150%; }

.information .news .news-content .news-container .news-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 150%; }

.information .news .news-content .news-container .news-p-list .news-list-item {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px; }

.offers .offers-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 72px; }

.offers .offers-item .offer-sticker {
  line-height: 40px;
  color: white; }

.offers .offers-item .offer-text {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 31.5px; }

.upper-footer .service-container .service-title {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 31.5px; }

.upper-footer .service-container .service-link {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px; }

.upper-footer .contacts .contacts-label {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 11px;
  line-height: 16.5px; }

.upper-footer .contacts .footer-tel {
  color: black;
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 31.5px; }

.upper-footer .contacts address[class$="address"] {
  font-family: Gilroy;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 31.5px; }

.upper-footer .contacts .howToGetThere {
  color: white;
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.05em; }

.footer .license {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px; }

.footer .privacy-policy {
  font-family: Gilroy;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 18px; }

.footer .button-container .button-a11 {
  font-family: Gilroy;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px; }
